<div id="new-collection-container">
  <div id="new-collection-container__title">
    <%= link_to admin_collections_path do %>
      <h3>Collections</h3>
    <% end %>
    <p>/</p>
    <h3>New Collection</h3>
  </div>

  <div id="new-collection-container__form">
    <%= render "form", collection: @collection %>
  </div>
</div>