.admin-products-table__edit-icon {
  height: 0.75rem;
  cursor: pointer;
}

.set-hide {
  display: flex;
  gap: var(--gap-0);
  align-items: center;
}

.set-hide.hide {
  display: none;
}

.set-form {
  display: none;
}

.set-form.show {
  display: flex;
}

/* image */
.image-form {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.image-select {
  display: none;
}

.image-submit {
  display: none;
}

.image-submit.show {
  display: flex;
}

.image-image {
  cursor: pointer;
}
