#admin-nav-container {
  background-color: var(--color-background-2);
  border-right: 1px solid lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#admin-nav-container__logo {
  background-color: white;
  padding: 1rem 3rem;
  border-bottom: 1px solid lightblue;
}

#admin-nav-container__ul {
  display: flex;
  flex-direction: column;
}

.admin-nav-container__li {
  position: relative;
}

.admin-nav-container__li-ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: red;
}

.admin-nav-container__li:hover .admin-nav-container__li-ul {
  display: flex;
  flex-direction: column;
}

.admin-nav-container__li-ul li {
  padding: 0.5rem;
}

.admin-nav-container__li-ul li:hover {
  background-color: blue;
}

.admin-nav-container__li:hover {
  background-color: darkcyan;
}

.admin-nav-container__link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  gap: 2rem;
}

.admin-nav-container__li:hover .admin-nav-container__link {
  filter: invert(1);
}

#admin-nav-container__hide {
  border-bottom: 1px solid lightblue;
  border-top: 1px solid lightblue;
  padding: 1rem 3rem;
}

#admin-nav-container__show-store {
  padding: 1rem 3rem;
}

@media (min-width: 768px) {
  /* loading */
}
