#new-category-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}

#new-category-container__title {
  display: flex;
  background-color: var(--color-background-2);
  border-bottom: 1px solid lightblue;
  padding: 1rem;
  width: 100%;
  gap: 0.5rem;
  color: #324960;
}

#new-category-container__title a {
  text-decoration: none;
  color: black;
}

#new-category-container__form {
  padding: 1rem;
  overflow: auto;
  height: calc(100vh - 55px);
}

#new-category-container__form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-category-container__form-labels {
  display: flex;
}

.new-category-container__form-labels label {
  background-color: #324960;
  padding: 0.25rem;
  color: white;
  min-width: 125px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.new-category-container__form-labels input {
  padding: 0.25rem;
  width: 100%;
  background-color: var(--color-background-2);
  border: 1px solid grey;
  outline-color: #324960;
  border-radius: 3px;
}

#new-category-container__form-button {
  background-color: var(--color-background-6);
  color: var(--color-background-1);
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: var(--font-size-xl);
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  transition: 0.25s;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

#new-category-container__form-button:hover {
  background-color: #4fc3a1;
}
