.admin-products-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  width: 100%;
  padding: var(--padding-1);
  gap: 1rem;
}

#admin-products-container__new-product-button {
  background-color: var(--color-background-6);
  color: var(--color-background-1);
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: var(--font-size-xl);
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  transition: 0.25s;
}

#admin-products-container__new-product-button:hover {
  background-color: #4fc3a1;
}

.admin-products-table__img {
  height: 3rem;
}

.admin-products-table__delete-icon,
.admin-products-table__show-icon {
  height: 1rem;
}

.admin-products-table__delete-product-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* POP UP */
.admin-products-table__delete-product-popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
}

.admin-products-table__delete-product-popup-wrap.show {
  display: flex;
}

.admin-products-table__delete-product-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: var(--padding-3) var(--padding-2) var(--padding-2) var(--padding-2);
  border-radius: var(--border-radius-3);
}

.admin-products-table__delete-product-popup-close {
  position: absolute;
  top: var(--space-m);
  right: var(--padding-2);
  cursor: pointer;
  border: none;
  background: none;
}

.admin-products-table__delete-product-popup-close-icon {
  height: var(--font-size-xxs);
}

.admin-products-table__confirm-delete-button {
  cursor: pointer;
  background-color: var(--color-background-6);
  color: var(--color-background-1);
  padding: var(--padding-1);
  border-radius: var(--border-radius-3);
  border: none;
  transition: 0.25s;
}

.admin-products-table__confirm-delete-button:hover {
  background-color: var(--color-background-2);
  color: var(--color-background-6);
}

@media (min-width: 768px) {
  /* 123 */
}
