.admin-users-container {
  padding: var(--padding-1);
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.admin-users-table__img {
  height: 3rem;
  width: 3rem;
}

@media (min-width: 768px) {
  /* 123 */
}
