.products-container {
  position: relative;
}

h1 {
  font-size: var(--font-size-1);
  font-weight: 500;
  display: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.products-container__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.products-container__header-options {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

.products-container__header-options > * {
  height: 100%;
}

.products-container__header-options button {
  padding: var(--lateral-padding-1);
  border: none;
}

.products-container__header-sort-selection {
  display: none;
  position: absolute;
  top: 1.6rem;
  right: 1rem;
  background: #000;
  color: #fff;
  height: 0;
  padding: 0 18px;
  width: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.products-container__header-filter-btn {
  background-color: var(--color-background-1);
  color: var(--color-text-5);
  border: none;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1em;
  border-radius: var(--border-radius-6);
  cursor: pointer;
  transition: 0.25s;
}

.products-container__header-filter-btn:hover {
  transform: scale(1.01);
}

.products-container__header-filter-btn:active {
  color: var(--color-text-2);
}

.products-container__header-sort-btn {
  background-color: var(--color-background-1);
  color: var(--color-text-5);
  border: none;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  transition: 0.25s;
}

.products-container__header-sort-btn:hover {
  transform: scale(1.01);
}

.products-container__header-sort-btn:active {
  background-color: var(--color-background-5);
  color: var(--color-text-2);
}

.products-container__header-sort-selection.sort-selection_active {
  display: flex;
  flex-direction: column;
  height: auto;
  z-index: 10;
}

.products-container__header-sort-selection-item.sort-selection-item_active {
  background: lightyellow;
}

.products-container__main {
  display: flex;
}

.products-container__filters {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: 1rem;
}

.products-container__filters.filters_active {
  display: none;
}

.products-container__grid {
  display: none;
  width: 100vw;
}

.products-container__grid.filters_active {
  display: flex;
}

#products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.products-container__product-card {
  width: 40%;
}

.products-container__product-card-img {
  position: relative;
}

.products-container__product-card img {
  width: 100%;
  aspect-ratio: 1/1;
}

.products-container__product-card-img span {
  position: absolute;
  bottom: 0;
  left: 0.2rem;
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.products-container__product-card-price {
  background-color: #fff;
  padding: 0.2rem;
}

.products-container__product-card-price.discounted {
  color: grey;
  text-decoration: line-through;
}

.products-container__product-card-price.with-discount {
  color: red;
}

.products-container__color-carrousel {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  gap: 0.5rem;
  height: 3rem;

  --slide-count: 5;
}

.products-container__color-carrousel-options {
  scroll-snap-align: start;
}

.products-container__color-img {
  height: 2.25rem;
  aspect-ratio: 1/1;
}

@media (min-width: 768px) {
  h1 {
    display: block;
  }

  .products-container__filters {
    display: none;
    width: 20%;
  }

  .products-container__filters.filters_active {
    display: flex;
  }

  .products-container__grid {
    display: flex;
    width: 100%;
  }

  .products-container__grid.filters_active {
    display: flex;
    width: 70%;
  }

  .products-container__product-card {
    width: 30%;
  }
}
