.sizes-available {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  text-align: center;
}

.sizes-available > * {
  width: 50px;
  border: 1px solid #ccc;
  padding: 5px;
  color: #ccc;
}

.sizes-available > *.size-available {
  border: 1px solid black;
  background-color: var(--color-background-6);
  color: var(--color-background-1);
  box-shadow: inset 0 0 5px black;
  cursor: pointer;
}
