<p style="color: green"><%= notice %></p>

<section id="favorites-container">
  <h2>Favorite Products</h2>
  
  <div id="favorites-container__grid">
    <% @favorites.each do |favorite| %>
      <%= render favorite %>
    <% end %>
  </div>
</section>
