<div id="<%= dom_id promo_code %>">
  <p>
    <strong>Title:</strong>
    <%= promo_code.title %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= promo_code.value %>
  </p>

   <p>
    <strong>Applicable to:</strong>
    <%= promo_code.applicable_to %>
  </p>

</div>
