<div id="<%= dom_id promo_code %>">
  <p>
    <strong>Title:</strong>
    <%= promo_code.title %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= promo_code.value %>
  </p>

  <% if @promo_code_categories %>
    <p>
      <strong>Applicable to:</strong>
      <ul style="display: flex; flex-direction: column; gap: 5px; margin: 10px">
      <% @promo_code_categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </p>
  <% end %>

</div>
