<h1>Editing promo code</h1>

<%= render "form", promo_code: @promo_code %>

<br>

<div>
  <%= link_to "Show this promo code", @promo_code %> |
  <%= link_to "Back to promo codes", promo_codes_path %>
</div>
