#admin-dashboard {
  display: flex;
}

/* SIDE BAR */
#admin-nav-container {
  width: 20%;
}

#admin-nav-container__links-list {
  display: flex;
  flex-direction: column;
}

.admin-nav-container__link {
  display: flex;
}

.admin-nav-container__logo {
  height: 50px;
  width: 50px;
}

.admin-nav-container__link-icon {
  height: 20px;
}
