#header-container {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

#header-container__ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

#header-container__ul li:nth-child(even) {
  background-color: black;
  width: 1px;
  min-height: 100%;
}
