<div id="collaborators-container__card">
  <%= image_tag "collaborators/CollaboratorVitor.jpg", class: "collaborators-container__image" %>
  <div id="collaborators-container__information">
  <h4>Vitor Guedes Madeira</h4>
  <p>Software Developer</p>
  <a href="https://github.com/VitorGuedesMadeira/" alt="github-profile" class="collaborators-container__collaborator-buttons" target="_blank">GitHub</a>
  <a href="https://www.linkedin.com/in/vitor-guedes-madeira/" alt="github-profile" class="collaborators-container__collaborator-buttons" target="_blank">Linkedin</a>
  </div>
</div>

<div id="collaborators-container__card">
  <%= image_tag "collaborators/CollaboratorTiago.jpg", class: "collaborators-container__image" %>
  <div id="collaborators-container__information">
  <h4>Tiago Lelinski</h4>
  <p>Full Stack Developer</p>
  <a href="https://github.com/TiagoLelinski/" alt="github-profile" class="collaborators-container__collaborator-buttons" target="_blank">GitHub</a>
  <a href="https://www.linkedin.com/in/tiago-lelinski/" alt="github-profile" class="collaborators-container__collaborator-buttons" target="_blank">Linkedin</a>
  </div>
</div>