<section id="collaborators-container">
  <h3 id="collaborators-container__h3">GET TO KNOW US</h3>
  <p id="collaborators-container__p">Elevate your energy in Software Shoes that move and breathe  with you.</p>
  <a href="https://github.com/VitorGuedesMadeira/Shoes-Store" alt="github-repository" id="collaborators-container__button" target="_blank">GitHub Repository</a>
  <div id="collaborators-container__grid">
    <%= render "collaborator" %>
  </div>
</section>
