<div id="new-arrivals-container__carrousel-div">
  <% 10.times do %>
    <div id="new-arrivals-container__new-product-div">
      <img src="https://picsum.photos/200" alt="product">
      <h3>
       Adicolor Classics Crop Hoodie
      </h3>
      <p>
        Women's Original
      </p>
      <span>
        New
      </span>
    </div>
  <% end %>
</div>