<h2>Sign up for exclusive news and promotions</h2>
<p>Enter your email address below to receive updates on our latest products and special offers<p>
<form
  action="https://formspree.io/f/xoqzdanr"
  method="post"
  id="email-container__form"
  data-aos="flip-up"
  >
  <input
      type="text"
      name="name"
      required
      maxLength="30"
      placeholder="Full Name"
  />
  <input
      type="email"
      name="email"
      id="email"
      required
      placeholder="Email address"
  />
  <button id="email-container__button" type="submit">Get in touch</button>
</form>