<div id="headline-container__product-1">
  <h1 id="headline-container__h1">VITOR JORDAN</h1>
  <p id="headline-container__p">A key luxury piece that has versatility at its core. Challenge the status quo in Stan Smith.</p>
  <%= link_to "Check it out!", products_path, id: "headline-container__button" %>
</div>

<div id="headline-container__product-2">
  <h1 id="headline-container__h1">AIR TIAGO</h1>
  <p id="headline-container__p">A key luxury piece that has versatility at its core. Challenge the status quo in Stan Smith.</p>
  <%= link_to "Check it out!", products_path, id: "headline-container__button" %>
</div>
