<div id="iconic-products-container__grid">
  <% 6.times do %>
    <div id="iconic-products-container__card">
      <%= image_tag "sneakers-2.jpeg", id: "iconic-products-container__img", alt: "iconic-product" %>
    </div>
  <% end %>
</div>
