<div id="main-categories-container__grid">
  <% 8.times do %>
    <div id="main-categories-container__card">
      <%= image_tag "sampleShoes.png", id: "main-categories-container__img", alt: "category" %>
      <h3 id="main-categories-container__h3">Category Name</h3>
    </div>
  <% end %>
</div>
