<div id="new-arrivals-container__carrousel-div">
  <% 20.times do %>
    <div id="new-arrivals-container__new-product-div">
      <div id="new-arrivals-container__image-div">
        <%= image_tag "new-arrival.png", id: "new-arrivals-container__img", alt: "new arrival shoes" %>
        <span id="new-arrivals-container__price">U$ 250,00<span>
      </div>
      <h3>
       Adicolor Classics Crop Hoodie
      </h3>
      <p id="new-arrivals-container__product-description">
        Women's Original
      </p>
      <span>
        <em>New</em>
      </span>
    </div>
  <% end %>
</div>