<h1>Home Page</h1>

<%= link_to "Users", users_path %>
<%= link_to "Products", products_path %>

<%= link_to "New Product", new_product_path %>
<% if current_user %>
  <%= link_to "Orders", user_orders_path(current_user) %>
<% end %>