<div id="new-size-container">
  <div id="new-size-container__title">
    <%= link_to admin_sizes_path do %>
      <h3>Sizes</h3>
    <% end %>
    <p>/</p>
    <h3>New Size</h3>
  </div>

  <div id="new-size-container__form">
    <%= render "form", size: @size %>
  </div>
</div>