<div id="<%= dom_id order %>" style="background-color: grey; padding: 10px">
  <p>
    <strong>Total price:</strong>
    <%= order.order_items.sum(:total_price) %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>
</div>
