<div class="admin-collections-container">

  <%= render "admin_home_category_table", home_category: @home_category1 %>
  <%= render "admin_home_category_table", home_category: @home_category2 %>
  <%= render "admin_home_category_table", home_category: @home_category3 %>
</div>
