#headline-container {
  background-color: white;
}

#headline-container__product-1 {
  min-height: calc(100vh - 80px);
  background-image: url("VitorShoes.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  padding: 1rem;
  gap: 1rem;
}

#headline-container__product-2 {
  min-height: calc(100vh - 80px);
  background-image: url("home-bg-2.jpg");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  display: none;
  transition: 0.5s;
  padding: 1rem;
  gap: 1rem;
}

.headline-container__button {
  background-color: white;
  border: none;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.25em;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.25s;
}

.headline-container__button:hover {
  transform: scale(1.02);
  background-color: rgb(230, 226, 243);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#headline-container__h1 {
  color: white;
  font-family: var(--font-family-2);
  font-weight: 900;
  font-size: 4em;
  text-shadow: 0 0 1rem black;
}

#headline-container__p {
  color: white;
  font-size: 1.5em;
  text-shadow: 0 0 1rem black;
  max-width: 500px;
}

/* ====================================== */

#new-arrivals-container {
  background: white;
  padding: 1rem;
}

#new-arrivals-container__carrousel-div {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
}

#new-arrivals-container__new-product-div {
  scroll-snap-align: start;
}

#new-arrivals-container__product-description {
  color: grey;
}

#new-arrivals-container__image-div {
  position: relative;
}

#new-arrivals-container__img {
  background-color: grey;
  width: 250px;
  aspect-ratio: 1 / 1;
}

#new-arrivals-container__price {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.25rem;
}

/* ====================================== */

#main-categories-container {
  width: 100%;
  padding: 0 1rem;
}

#main-categories-container__grid {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
}

#main-categories-container__card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  background-image: url("iconic-item1.jpeg");
  background-size: cover;
  min-width: 100%;
  aspect-ratio: 16 / 9;
  scroll-snap-align: start;
  position: relative;
}

#main-categories-container__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.main-categories-container__button {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-family: var(--font-family-2);
  font-weight: 900;
  text-shadow: 0 0 2rem black;
  transition: 0.5s;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

#main-categories-container__card:hover .main-categories-container__button {
  transform: scale(1.02);
  background-color: rgb(230, 226, 243);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: black;
}

/* ====================================== */

#collection-container {
  padding: 1rem;
}

#collection-container__image {
  width: 100%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

#collection-container__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  text-align: center;
}

#collection-container__h3 {
  font-size: 4em;
  font-weight: 900;
  letter-spacing: -5px;
  font-family: var(--font-family-2);
}

.collection-container__button {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.25em;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.25s;
}

#collection-container__buttons-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collection-container__button:hover {
  transform: scale(1.02);
  background-color: rgb(230, 226, 243);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: black;
}

/* ====================================== */

#iconic-products-container {
  width: 100%;
  padding: 0 1rem;
}

#iconic-products-container__grid {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
}

#iconic-products-container__card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  background-image: url("iconic-item1.jpeg");
  background-size: cover;
  min-width: 100%;
  aspect-ratio: 16 / 9;
  scroll-snap-align: start;
  overflow: hidden;
  position: relative;
}

#iconic-products-container__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 2s ease-in-out;
}

#iconic-products-container__text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-family: var(--font-family-2);
  font-weight: 900;
  text-shadow: 0 0 2rem black;
}

#iconic-products-container__card:hover #iconic-products-container__img {
  transform: scale(1.05);
}

/* ====================================== */

#decoration-images-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

.decoration-images-container__image {
  width: 100%;
  height: 3rem;
  background-image: url("home-bg-1.jpeg");
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 25px black;
}

.decoration-images-container__image:nth-last-child(odd) {
  background-image: url("home-bg-2.jpeg");
}

/* ====================================== */

#email-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

#email-container__button {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.25em;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.25s;
}

#email-container__button:hover {
  transform: scale(1.02);
  background-color: rgb(230, 226, 243);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: black;
}

#email-container input {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.25em;
  border-radius: 50px;
  transition: 0.25s;
  outline: none;
}

@media (min-width: 768px) {
  #headline-container__product-1 {
    padding: 3rem;
  }

  #headline-container__product-2 {
    padding: 3rem;
  }

  #new-arrivals-container {
    padding: 3rem;
  }

  #main-categories-container {
    padding: 0 3rem;
  }

  #main-categories-container__card {
    min-width: calc(50% - 0.5rem);
  }

  #collection-container {
    padding: 3rem;
  }

  #collection-container__grid {
    display: flex;
  }

  #collection-container__buttons-flex {
    flex-direction: row;
  }

  #iconic-products-container {
    padding: 0 3rem;
  }

  #iconic-products-container__card {
    min-width: calc(50% - 0.5rem);
  }

  #email-container {
    padding: 3rem;
  }

  #email-container input:nth-child(1) {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
  }

  #email-container input:nth-child(2) {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}

@media (min-width: 1200px) {
  #main-categories-container__card {
    min-width: calc((100% / 3) - (1rem / 3) * 2);
  }

  #iconic-products-container__card {
    min-width: calc((100% / 3) - (1rem / 3) * 2);
  }
}
