
#products-container__grid {
  display: flex;
  background-color: green;
}

#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: red;
  gap: 1rem;
}

.products-container__product {
  background-color: blue;
}

#products-container {
  position: relative;
}

#products-container__header {
  display: flex;
  justify-content: space-between;
}

#products-container__header-options {
  display: flex;
  gap: var(--space-m);
}

#products-container__filters {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  width: 30vw;
}
