#products-container__grid {
  display: flex;
  background-color: green;
}

#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: red;
  gap: var(--gap-1);
}

.products-container__product {
  background-color: blue;
}
