#edit-user-container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-1);
  gap: 1rem;
}

#edit-user-container__form {
  display: flex;
  flex-direction: column;
}

#edit-user-container__avatar {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 768px) {
  #edit-user-container {
    padding: var(--padding-3);
  }
}
