<table>
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>PRODUCTS</th>
    </thead>

    <tbody>
      <% brands.each do |brand| %>
        <tr>
          <td><%= brand.id %></td>
          <td><%= brand.name %></td>
          <td><%= brand.products.count %></td>
        </tr>
      <% end %>
    </tbody>
</table>
