<%= form_with model: Brand do |brand_form| %>
  <div class="new-brand-container__form-labels">
    <%= brand_form.label :name, style: "display: block" %>
    <%= brand_form.text_field :name, value: "", placeholder: "Type brand name" %>
  </div>

  <div>
    <%= brand_form.submit "Add Brand", id: "new-brand-container__form-button" %>
  </div>
<% end %>