<%= render "layouts/admin_nav" %>
<div class="admin-categories-container">
  <div class="admin-categories-container__header">
    <div class="admin-categories-container__header-nav">
      <p>Categories</p>
      <p class="admin-categories-container__header-nav">
        / New Category
      </p>
      <p class="admin-categories-container__header-nav">
        / ...
      </p>
    </div>
    <%= link_to "New Category", new_category_path(), id:"admin-categories-container__new-category-button" %>
  </div>

  <%= render "admin_categories_table", categories: @categories %>
</div>
