<div id="new-category-container">
  <div id="new-category-container__title">
    <%= link_to admin_categories_path do %>
      <h3>Categories</h3>
    <% end %>
    <p>/</p>
    <h3>New Category</h3>
  </div>

  <div id="new-category-container__form">
    <%= render "form", category: @category %>
  </div>
</div>