<div class="admin-products-container">
  <div class="admin-products-container__header">
    <div class="admin-products-container__header-nav">
      <p>Products</p>
      <p class="admin-products-container__header-nav">
        / New Product
      </p>
      <p class="admin-products-container__header-nav">
        / ...
      </p>
    </div>
    <%= link_to "New Product", new_product_path(), id:"admin-products-container__new-product-button" %>
  </div>
  <%= render "admin_products_table", products: @all_products %>
</div>
