<p style="color: green"><%= notice %></p>

<section id="products-container">
  <div id="products-container__header">
    <h1>Products (<%= @products.count %>)</h1>
  </div>

  <div id="products-container__grid">
    <%= render "products/search-products" %>
    <%= render "products", products: @products %>
  </div>
</section>

