<div id="new-gender-container">
  <div id="new-gender-container__title">
    <%= link_to admin_genders_path do %>
      <h3>Genders</h3>
    <% end %>
    <p>/</p>
    <h3>New Gender</h3>
  </div>

  <div id="new-gender-container__form">
    <%= render "form", gender: @gender %>
  </div>
</div>