<footer id="footer-container">
  <div id="footer-container__first-div">
    <ul>
     <li>Gift Cards</li>
     <li>Promotions</li>
     <li>Find a Store</li>
     <li>Sign Up for Email</li>
     <li>Become a Member</li>
     <li>Send Us Feedback</li>
    </ul>

    <div id="footer-container__icons">
      <p>ICON1</p>
      <p>ICON2</p>
      <p>ICON3</p>
      <p>ICON4</p>
    </div>
  </div>

  <div id="footer-container__second-div">
    <div id="footer-container__rights">
      <p>United States</p>
      <p>© 2023 Nike, Inc. All Rights Reserved </p>
    </div>
    <div id="footer-container__information">
      <p>Guides</p>
      <p>Terms of Sale</p>
      <p>Terms of Use</p>
      <p>Nike Privacy Policy</p>
    </div>
  </div>
</footer>
