<footer id="footer-container">
  <div id="footer-container__first-div">
    <div id="footer-container__ul-flex">
      <ul class="footer-container__ul">
       <li>Gift Cards</li>
       <li>Promotions</li>
       <li>Find a Store</li>
       <li>Sign Up for Email</li>
       <li>Become a Member</li>
       <li>Send Us Feedback</li>
      </ul>
      <ul class="footer-container__ul">
       <li>Gift Cards</li>
       <li>Promotions</li>
       <li>Find a Store</li>
       <li>Sign Up for Email</li>
       <li>Become a Member</li>
       <li>Send Us Feedback</li>
      </ul>
      <ul class="footer-container__ul">
       <li>Gift Cards</li>
       <li>Promotions</li>
       <li>Find a Store</li>
       <li>Sign Up for Email</li>
       <li>Become a Member</li>
       <li>Send Us Feedback</li>
      </ul>
    </div>

    <div id="footer-container__icons">
      <%= image_tag "icons/linkedin", alt: "linkedin", class: "footer-container-icon" %>
      <%= image_tag "icons/github", alt: "github", class: "footer-container-icon" %>
      <%= image_tag "icons/instagram", alt: "instagram", class: "footer-container-icon" %>
    </div>
  </div>

  <div id="footer-container__second-div">
    <div id="footer-container__rights">
      <div id="footer-container__icon-text">
        <%= image_tag "icons/globe", alt: "globe", class: "footer-container-icon" %>
        <span>United States</span>
      </div>
      <p>© 2023 Nike, Inc. All Rights Reserved </p>
    </div>
    <div id="footer-container__information">
      <p>Guides</p>
      <p>Terms of Sale</p>
      <p>Terms of Use</p>
      <p>Nike Privacy Policy</p>
    </div>
  </div>
</footer>
